<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/signup.css" />

    <title>Criar Conta</title>
  </head>
  <body>
    <form action="/cadastrar" method="post">
      <div class="logo">
        <h1>SERBTEC</h1>
      </div>
      <div class="create">
        <h2>Nova Conta</h2>
      </div>

      <div class="input">
        <span>Nome</span>
        <input type="text" name="nome" placeholder="Novo Nome do Usuario" />
      </div>

      <div class="input">
        <span>Email</span>
        <input type="text" name="email" placeholder="Email do Usuario" />
      </div>


      <div class="input">
        <span>Senha</span>
        <input type="text" name="senha" placeholder="Nova Senha" />
      </div>

      <div class="btn">
        <button>Autenticar</button>
      </div>

      <div class="possui">
        <p>Ja possui uma conta! <a href="{{ url_for('Login') }}">Login</a></p>
      </div>

      <div class="copy">
        <p>&copy; CopyScricpt SERBTEC 2023</p>
      </div>
    </form>
  </body>
</html>
